.estimation-main {
	background: white;
/*	width: 21cm;
	height:29,7cm;
	overflow-y : scroll;
*/}

.title {
	color: #00FF80;
	margin-bottom:20px;
}

.no-break {
  page-break-inside: avoid !important;
}

.page-break { 
	display:block;
	clear:both; 
	page-break-after:always; 
}

.volet_libelle {
	color: #0000FF;
	margin-bottom:10px;
	margin-top:10px;
}

.volet_total {
	color: #0000FF;
	margin-bottom:20px;
}

.prestation {
	margin-bottom:10px;	
}